<div data-url="demo-page" data-role="page" data-theme="a" id="demo-page" class="my-page">
  <div data-role="header">
    <h1>Browse</h1>
    <a href="grid-listview.html" data-shadow="false" data-iconshadow="false" data-icon="arrow-l" data-iconpos="notext" data-rel="back" data-ajax="false">Back</a>
  </div><!-- /header -->

  <div data-role="navbar">
    <ul>
      <li><a href="#" id="all-nav-btn" class="ui-btn-active">All</a></li>
      <li><a href="#" id="popular-nav-btn">Popular</a></li>
      <li><a href="#" id="my-nav-btn">My Video</a></li>
    </ul>
  </div><!-- /navbar -->

  <div data-role="content" ng-controller="VideoListController">
    <div id="all-video-div" class="video-list hide">
      <%= render :partial => "all_video" %>
    </div>
    
    <div id="popular-video-div" class="video-list hide">
      <%= render :partial => "popular_video" %>
    </div>

    <div id="my-video-div" class="video-list hide">
      <%= render :partial => "my_video" %>
    </div>
  </div><!-- /content -->

  <div data-role="footer" data-theme="none">
    <h3>Responsive Grid Listview</h3>
  </div><!-- /footer -->
</div>

<script type="text/javascript">
  jQuery(document).ready(function() {

    // shows all video initially
    jQuery("#all-video-div").show();

    function registerClick(preFix, e) {
      e.preventDefault();
      jQuery(".video-list").hide();
      jQuery("#" + preFix + "-video-div").show();
      return false;
    }

    jQuery("#all-nav-btn").click(function(e) {
      registerClick("all", e);
    });
    jQuery("#popular-nav-btn").click(function(e) {
      registerClick("popular", e);
    });
    jQuery("#my-nav-btn").click(function(e) {
      registerClick("my", e);
    });
  });
</script>