<div data-url="demo-page" data-role="page" data-theme="a" id="demo-page" class="my-page">
  <div data-role="header">
    <h1><%= @video.title %></h1>
    <a href="grid-listview.html" data-shadow="false" data-iconshadow="false" data-icon="arrow-l" data-iconpos="notext" data-rel="back" data-ajax="false">Back</a>
  </div><!-- /header -->
</div>