<!DOCTYPE html>
<html ng-app>
<head>
  <title>InspireMobile</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="http://service-staging.twistage.com/api/script"></script>
  
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
